body {
	margin: 0;
	text-align: center;
	font-size: 24px;
	color: white;
}

.header {
	width: 100%;
	height: 100px;
	background-color: rgb(46, 46, 184);
}

.content {
	width: 85%;
	height: calc(100vh - 140px);
	background-color: rgb(124, 155, 63);
	margin-left: 15%;
	overflow-y: scroll;
}

.sidebar {
	height: calc(100vh - 140px);
	width: 15%;
	background-color: blueviolet;
	float: left;
}
.footer {
	width: 100%;
	height: 40px;
	background-color: rgb(211, 38, 53);
}

.content > div {
	border: solid black 2px;
	margin: 10px;
	padding: 10px;
}
